<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> 
                    <a [routerLink]="['/admin']">
                        <i class="fas fa-tachometer-alt"></i> <span>Bảng điều khiển</span>
                    </a> 
                </li>
                <li class="submenu"> 
                    <a routerLinkActive="active" [routerLink]="['/admin/all-booking']"><i class="fas fa-suitcase"></i> <span> Đặt phòng </span></a>
                </li>
                <li class="submenu"> 
                    <a a routerLinkActive="active" [routerLink]="['/admin/all-rooms']"><i class="fas fa-key"></i> <span> Phòng </span></a>
                
                </li>
                <li class="submenu"> 
                    <a routerLinkActive="active" [routerLink]="['/admin/all-accounts']"><i class="far fa-money-bill-alt"></i> <span> Tài khoản </span></a>
                </li>
                <li class="submenu"> 
                    <a href="#"><i class="fe fe-table"></i> <span> Báo cáo </span> <span class="menu-arrow"></span></a>
                    <ul class="submenu_class" style="display: none;">
                        <li><a routerLinkActive="active" [routerLink]="['/admin/invoice-reports']">Báo cáo hóa đơn</a></li>
                    </ul>
                </li>
                <li class="list-divider"></li>
                <li class="menu-title mt-3"><span>PHỤ</span></li>
                <li class="submenu"> <a routerLinkActive="active" [routerLink]="['/admin/all-dichvu']"><i class="fas fa-share-alt"></i> <span> Dịch vụ </span></a>
                </li>
            </ul>
        </div>
    </div>
</div>