<!-- Start main-content -->
<section class="page-title" style="background-image: url(assets/customer/images/background/page-title-bg.png);">
    <div class="auto-container">
        <div class="title-outer text-center">
            <h1 class="title">Liên hệ với khách sạn</h1>
            <ul class="page-breadcrumb">
                <li><a href="index.html">Trang chủ</a></li>
                <li>Liên hệ</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->

<!--Contact Details Start-->
<section class="contact-details">
    <div class="container pt-110 pb-70">
        <div class="row">
            <div class="col-xl-7 col-lg-6">
                <div class="sec-title">
                    <span class="sub-title before-none">Gửi email cho chúng tôi</span>
                    <h2>Hãy thoải mái viết</h2>
                </div>
                <!-- Contact Form -->
                <form id="contact_form" name="contact_form"
                    action="https://html.kodesolution.com/2025/hoteler-html/includes/sendmail.php" method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <input name="form_name" class="form-control" type="text" placeholder="Nhập tên">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <input name="form_email" class="form-control required email" type="email"
                                    placeholder="Nhập Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <input name="form_subject" class="form-control required" type="text"
                                    placeholder="Nhập chủ đề">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <input name="form_phone" class="form-control" type="text" placeholder="Nhập số điện thoại">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <textarea name="form_message" class="form-control required" rows="7"
                            placeholder="Nhập tin nhắn"></textarea>
                    </div>
                    <div class="mb-5">
                        <input name="form_botcheck" class="form-control" type="hidden" value="" />
                        <button type="submit" class="theme-btn btn-style-one" data-loading-text="Please wait..."><span
                                class="btn-title">Gửi tin nhắn</span></button>
                        <button type="reset" class="theme-btn btn-style-one bg-theme-color5"><span
                                class="btn-title">Cài lại</span></button>
                    </div>
                </form>
                <!-- Contact Form Validation-->
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="contact-details__right">
                    <div class="sec-title">
                        <span class="sub-title before-none">Bạn có cần trợ giúp không?</span>
                        <h2>Liên hệ với chúng tôi</h2>
                    </div>
                    <ul class="list-unstyled contact-details__info">
                        <li>
                            <div class="icon">
                                <span class="lnr-icon-phone-plus"></span>
                            </div>
                            <div class="text">
                                <h6 class="mb-1">Bạn có thắc mắc gì không?</h6>
                                <a href="tel:980089850"><span>Miễn phí</span> +84 0365606175</a>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="lnr-icon-envelope1"></span>
                            </div>
                            <div class="text">
                                <h6 class="mb-1">Viết Email</h6>
                                <a
                                    href="https://html.kodesolution.com/cdn-cgi/l/email-protection#8de3e8e8e9e5e8e1fdcdeee2e0fdece3f4a3eee2e0"><span
                                        class="__cf_email__"
                                        data-cfemail="5f313a3a3b373a332f1f3c30322f3e3126713c3032">[email&#160;protected]</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="lnr-icon-location"></span>
                            </div>
                            <div class="text">
                                <h6 class="mb-1">Ghé thăm bất cứ lúc nào</h6>
                                <span>45 Tây Hồ, Hà Nội</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact Details End-->
<!-- FAQ Section -->
<section class="faqs-section-home1 mt-0 pt-120 pb-60 pb-md-20" style="background-image: url(assets/customer/images/background/1.html)">
    <div class="auto-container">
        <div class="row">
            <!-- FAQ Column -->
            <div class="faq-column col-lg-6">
                <div class="inner-column">
                    <ul class="accordion-box style-two wow fadeInLeft">
                        <!--Block-->
                        <li class="accordion block active-block">
                            <div class="acc-btn active">Tôi được bảo hành những gì khi lắp đặt?
                                <div class="icon fa fa-plus"></div>
                            </div>
                            <div class="acc-content current">
                                <div class="content">
                                    <div class="text">Có nhiều phiên bản khác nhau của các đoạn văn hiện có, nhưng phần lớn đã bị thay đổi ở một số hình thức.</div>
                                </div>
                            </div>
                        </li>
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">Dịch vụ của bạn bao gồm những gì?
                                <div class="icon fa fa-plus"></div>
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Có nhiều phiên bản khác nhau của các đoạn văn hiện có, nhưng phần lớn đã bị thay đổi ở một số hình thức.</div>
                                </div>
                            </div>
                        </li>
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">Phương thức thanh toán là gì?
                                <div class="icon fa fa-plus"></div>
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Có nhiều phiên bản khác nhau của các đoạn văn hiện có, nhưng phần lớn đã bị thay đổi ở một số hình thức.</div>
                                </div>
                            </div>
                        </li>
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">Tôi nhận được đơn hàng của mình nhanh như thế nào?
                                <div class="icon fa fa-plus"></div>
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Có nhiều phiên bản khác nhau của các đoạn văn hiện có, nhưng phần lớn đã bị thay đổi ở một số hình thức.</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- FAQ Column -->
            <div class="faq-column col-lg-6">
                <div class="inner-column mb-md-50">
                    <ul class="accordion-box style-two bg-transparent p-0 wow fadeInLeft">
                        <!--Block-->
                        <li class="accordion block active-block pl-30 pr-30">
                            <div class="acc-btn border-bottom-0 active">Sản xuất của riêng bạn sạch sẽ cứu môi trường
                                <div class="icon fa fa-plus"></div>
                            </div>
                            <div class="acc-content current">
                                <div class="content border-bottom-0 pt-0">
                                    <div class="text">Giảm thiểu, tái sử dụng và tái chế: Đây là cách cổ điển nhưng hiệu quả để
                                        giảm thiểu chất thải và bảo tồn tài nguyên. Hãy thử sử dụng túi, hộp đựng và
                                        chai nước có thể tái sử dụng và tái chế các vật dụng không thể tái sử dụng.</div>
                                </div>
                            </div>
                        </li>
                        <!--Block-->
                        <li class="accordion block pl-30 pr-30">
                            <div class="acc-btn border-bottom-0">Dịch vụ và hỗ trợ tại chỗ để chứng nhận
                                <div class="icon fa fa-plus"></div>
                            </div>
                            <div class="acc-content">
                                <div class="content border-bottom-0 pt-0">
                                    <div class="text">Dịch vụ và hỗ trợ tại chỗ cho chứng nhận đề cập đến
                                        sự hỗ trợ được cung cấp cho các công ty hoặc tổ chức đang tìm kiếm chứng nhận
                                        cho các sản phẩm, dịch vụ hoặc quy trình của họ. Sự hỗ trợ này có thể bao gồm
                                        mọi thứ từ việc giúp các công ty hiểu các yêu cầu chứng nhận đến
                                        cung cấp đào tạo và hỗ trợ tại chỗ trong suốt quá trình chứng nhận.</div>
                                </div>
                            </div>
                        </li>
                        <!--Block-->
                        <li class="accordion block pl-30 pr-30">
                            <div class="acc-btn border-bottom-0">Nguồn sáng cho hiệu suất chuyển đổi ổn định
                                <div class="icon fa fa-plus"></div>
                            </div>
                            <div class="acc-content">
                                <div class="content border-bottom-0 pt-0">
                                    <div class="text">Trong bối cảnh năng lượng mặt trời, nguồn sáng cho hiệu suất chuyển đổi ổn định
                                        là nguồn sáng cung cấp đầu ra nhất quán và
                                        có thể dự đoán được, có thể được sử dụng để kiểm tra và tối ưu hóa hiệu suất của
                                        các tế bào và tấm pin mặt trời. Điều này rất quan trọng vì hiệu suất của các tế bào và tấm pin mặt trời có thể thay đổi tùy thuộc vào cường độ và bước sóng của ánh sáng mà chúng
                                        nhận được, do đó, điều quan trọng là phải sử dụng nguồn sáng ổn định để đảm bảo các phép đo chính xác và
                                        đáng tin cậy</div>
                                </div>
                            </div>
                        </li>
                        <!--Block-->
                        <li class="accordion block pl-30 pr-30">
                            <div class="acc-btn border-bottom-0">Bạn có bảo hành và dịch vụ sau bán hàng không?
                                <div class="icon fa fa-plus"></div>
                            </div>
                            <div class="acc-content">
                                <div class="content border-bottom-0 pt-0">
                                    <div class="text">Là một mô hình ngôn ngữ AI, tôi không cung cấp sản phẩm hoặc dịch vụ, vì vậy
                                        tôi không cung cấp bảo hành hoặc dịch vụ sau bán hàng. Tuy nhiên, nhiều công ty
                                        cung cấp sản phẩm hoặc dịch vụ có cung cấp bảo hành và dịch vụ sau bán hàng cho
                                        khách hàng của họ.</div>
                                    <div class="text">Bảo đảm là một hình thức đảm bảo rằng sản phẩm hoặc dịch vụ sẽ
                                        đáp ứng được kỳ vọng hoặc tiêu chuẩn nhất định và nếu không, công ty sẽ
                                        sửa chữa hoặc thay thế sản phẩm hoặc hoàn lại tiền. Bảo đảm có thể khác nhau
                                        tùy thuộc vào sản phẩm hoặc dịch vụ và có thể bị giới hạn bởi một số điều khoản và
                                        điều kiện nhất định.</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End FAQ Section -->

<!-- Map Section-->
<section class="map-section">
    <iframe class="map w-100"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=vi&amp;q=45%20Tây%20Hồ,%20Hà%20Nội,%20Việt%20Nam&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
</section>
<!--End Map Section-->
