<!-- Main Footer -->
<footer class="main-footer footer-style-one">
  <!-- Widgets Section -->
  <div class="widgets-section">
    <div class="auto-container">
      <div class="row">
        <!-- Footer Column -->
        <div class="footer-column col-lg-4 col-sm-6">
          <div class="footer-widget about-widget wow fadeInLeft">
            <div class="widget-content">
              <div class="logo"><a href="#"> <img src="assets/customer/images/logo-2.png" alt=""></a></div>
              <div class="text mb-0">Feel free to reach out if you want collaborate with us, or simply chat.</div>
            </div>
          </div>
          <div class="footer-widget news-widget wow fadeInLeft" data-wow-delay="400ms">
            <div class="subscribe-form-three">
              <form method="post" action="#">
                <div class="form-group">
                  <input type="email" name="email" class="email" value="" placeholder="Email Address" required="">
                  <button type="button" class="theme-btn btn-style-one"><span class="btn-title"><i
                        class="fa fa-paper-plane"></i></span></button>
                </div>
              </form>
            </div>
          </div>
          <div class="footer-widget widget-social wow fadeInLeft" data-wow-delay="300ms">
            <h4 class="widget-title">Follow Us</h4>
            <div class="widget-content">
              <ul class="social-icon">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Footer Column -->
        <div class="footer-column col-lg-3 col-sm-6 mb-0 ps-xl-5">
          <div class="footer-widget links-widget ps-xl-5 wow fadeInLeft" data-wow-delay="200ms">
            <h4 class="widget-title">Services</h4>
            <div class="widget-content">
              <ul class="user-links">
                <li><a href="#/">Store Directory</a></li>
                <li><a href="#/">Top Hotels</a></li>
                <li><a href="#/">Quick Links</a></li>
                <li><a href="#/">Important Links</a></li>
                <li><a href="#/">Insights</a></li>
                <li><a href="#/">Knowledge Center</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Footer Column -->
        <div class="footer-column col-lg-2 col-sm-6 mb-0 ps-xl-4">
          <div class="footer-widget links-widget ps-xl-4 wow fadeInLeft" data-wow-delay="200ms">
            <h4 class="widget-title">Company</h4>
            <div class="widget-content">
              <ul class="user-links">
                <li><a href="#/">Home</a></li>
                <li><a href="#/">About Us</a></li>
                <li><a href="#/">Services</a></li>
                <li><a href="#/">Career</a></li>
                <li><a href="#/">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- footer column -->
        <div class="footer-column col-lg-3 col-sm-6">
          <div class="footer-widget info-widget ps-xl-5 ms-xl-5 mb-30 wow fadeInLeft" data-wow-delay="300ms">
            <h4 class="widget-title">New York</h4>
            <div class="widget-content">
              <!-- Contact List -->
              <div class="contact-list">
                <div class="inner">
                  <div class="list-info">2464 Royal Ln. Mesa, New Jersey 45463</div>
                  <div class="list-info">(000) 222-0000</div>
                  <div class="list-info"><a href="https://html.kodesolution.com/cdn-cgi/l/email-protection"
                      class="__cf_email__"
                      data-cfemail="8ce5e2eae3ccf5e3f9fefbe9eeffe5f8e9a2efe3e1">[email&#160;protected]</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-widget info-widget ps-xl-5 ms-xl-5 wow fadeInLeft" data-wow-delay="300ms">
            <h4 class="widget-title">London</h4>
            <div class="widget-content">
              <!-- Contact List -->
              <div class="contact-list">
                <div class="inner">
                  <div class="list-info">1901 Thorn ridge Cir. Shiloh, Hawaii 81063</div>
                  <div class="list-info">(000) 000-0000</div>
                  <div class="list-info"><a href="https://html.kodesolution.com/cdn-cgi/l/email-protection"
                      class="__cf_email__"
                      data-cfemail="deb7b0b8b19ea7b1abaca9bbbcadb7aabbf0bdb1b3">[email&#160;protected]</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  Footer Bottom -->
  <div class="footer-bottom">
    <div class="auto-container">
      <div class="inner-container">
        <div class="copyright-text">© 2025 <span>ThemeMascot</span> Agency</div>
      </div>
    </div>
  </div>
</footer>
<!--End Main Footer -->
