<!-- Main Footer -->
<footer class="main-footer footer-style-one">
  <!-- Widgets Section -->
  <div class="widgets-section">
    <div class="auto-container">
      <div class="row">
        <!-- Footer Column -->
        <div class="footer-column col-lg-4 col-sm-6">
          <div class="footer-widget about-widget wow fadeInLeft">
            <div class="widget-content">
              <div class="logo"><a href="#"> <img src="assets/customer/images/logo-2.png" alt=""></a></div>
              <div class="text mb-0">Hãy liên hệ với chúng tôi nếu bạn muốn hợp tác hoặc chỉ muốn trò chuyện.</div>
            </div>
          </div>
          <div class="footer-widget news-widget wow fadeInLeft" data-wow-delay="400ms">
            <div class="subscribe-form-three">
              <form method="post" action="#">
                <div class="form-group">
                  <input type="email" name="email" class="email" value="" placeholder="Địa chỉ Email" required="">
                  <button type="button" class="theme-btn btn-style-one"><span class="btn-title"><i
                        class="fa fa-paper-plane"></i></span></button>
                </div>
              </form>
            </div>
          </div>
          <div class="footer-widget widget-social wow fadeInLeft" data-wow-delay="300ms">
            <h4 class="widget-title">Theo dõi chúng tôi</h4>
            <div class="widget-content">
              <ul class="social-icon">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Footer Column -->
        <div class="footer-column col-lg-3 col-sm-6 mb-0 ps-xl-5">
          <div class="footer-widget links-widget ps-xl-5 wow fadeInLeft" data-wow-delay="200ms">
            <h4 class="widget-title">Công ty</h4>
            <div class="widget-content">
              <ul class="user-links">
                <li><a routerLink="/customer/">Trang chủ</a></li>
                <li><a routerLink="/customer/rooms">Phòng</a></li>
                <li><a routerLink="/customer/service">Dịch vụ</a></li>
                <li><a routerLink="/customer/contact">Liên hệ</a></li>
                <li><a routerLink="/login/signin">Đăng nhập</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-column col-lg-3 col-sm-6">
          <div class="footer-widget info-widget ps-xl-5 ms-xl-5 mb-30 wow fadeInLeft" data-wow-delay="300ms">
            <h4 class="widget-title">Hà Nội</h4>
            <div class="widget-content">
              <!-- Contact List -->
              <div class="contact-list">
                <div class="widget-content">
                  <ul class="user-links">
                    <li>19 P. Duy Tân, Dịch Vọng Hậu, Cầu Giấy, Hà Nội </li>
                    <li>0365606175</li>
                    <li>chungne25022004&#64;gmail.com</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  Footer Bottom -->
</footer>
<!--End Main Footer -->
