
<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>
  
    <app-header></app-header>
  
    <!-- Banner Section -->
<!-- <section class="banner-section-seven">
  <div class="banner-slider banner-slider-home1">

    <div class="banner-slide">
      <div class="outer-box">
        <figure class="image-1 wow fadeInUp tm-gsap-img-parallax overflow-hidden"><img
            src="assets/images/banner/banner1-1.jpg" alt=""></figure>
        <div class="content-box">
          <div class="star-rating" data-animation-in="fadeInUp" data-wow-delay="300ms">
            <i class="fa-sharp fa-solid fa-star-sharp"></i>
            <i class="fa-sharp fa-solid fa-star-sharp"></i>
            <i class="fa-sharp fa-solid fa-star-sharp"></i>
            <i class="fa-sharp fa-solid fa-star-sharp"></i>
            <i class="fa-sharp fa-solid fa-star-sharp"></i>
          </div>
          <h1 data-animation-in="fadeInUp" data-delay-in="0.3">Book Your Dream Hotel <br />With Hoteler</h1>
        </div>
      </div>
    </div>

  </div>
</section> -->
<!-- End Banner Section -->
<!-- Start main-content -->
<section class="page-title" style="background-image: url(assets/images/banner/banner1-1.jpg);">
    <div class="auto-container">
      <div class="title-outer text-center">
        <i class="fa-sharp fa-solid fa-star-sharp"></i>
        <i class="fa-sharp fa-solid fa-star-sharp"></i>
        <i class="fa-sharp fa-solid fa-star-sharp"></i>
        <i class="fa-sharp fa-solid fa-star-sharp"></i>
        <i class="fa-sharp fa-solid fa-star-sharp"></i>
        <h1 class="title">Book Your Dream Hotel </h1>
      </div>
    </div>
  </section>
  <!-- end main-content -->
  
  <!-- Form Section -->
  <div class="checkout-form-section-two">
    <div class="container">
      <div class="checkout-form">
        <div class="checkout-field">
          <h4>Check-In</h4>
          <div class="chk-field">
            <input class="date-pick" type="text" placeholder="31 Dec 2025" />
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
        <div class="checkout-field">
          <h4>Check-Out</h4>
          <div class="chk-field">
            <input class="date-pick" type="text" placeholder="31 Dec 2025" />
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
        <div class="checkout-field select-field br-0">
          <h4>Quests</h4>
          <div class="chk-field">
            <i class="fas fa-angle-down"></i>
            <select>
              <option>2 </option>
              <option>1 </option>
              <option>2 </option>
              <option>3 </option>
            </select>
          </div>
        </div>
        <a href="page-contact.html" class="theme-btn btn-style-one"><span class="btn-title">CHECK
            <br />AVAILABILITY</span></a>
      </div>
    </div>
  </div>
  <!-- End Form Section -->
  
  <!-- Service Section three -->
  <section class="service-section-three">
    <div class="auto-container">
      <div class="sec-title text-center">
        <span class="sub-title">What we offer</span>
        <h2>Get Our Special Offer.</h2>
      </div>
      <div class="outer-box">
        <div class="row">
          <!-- service-block -->
          <div class="service-block-three col-lg-4 col-md-6 wow fadeInUp">
            <div class="inner-box">
              <figure class="image"><img src="assets/images/resource/service1-1.jpg" alt=""></figure>
              <div class="content-box">
                <h6 class="title"><a href="room-details.html">Family Discount</a></h6>
              </div>
            </div>
          </div>
          <!-- service-block -->
          <div class="service-block-three col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
            <div class="inner-box">
              <figure class="image"><img src="assets/images/resource/service1-2.jpg" alt=""></figure>
              <div class="content-box">
                <h6 class="title"><a href="room-details.html">Couples offer</a></h6>
              </div>
            </div>
          </div>
          <!-- service-block -->
          <div class="service-block-three col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms">
            <div class="inner-box">
              <figure class="image"><img src="assets/images/resource/service1-3.jpg" alt=""></figure>
              <div class="content-box">
                <h6 class="title"><a href="room-details.html">Buy One Get One Free</a></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service section -->
  
  <!-- About Section -->
  <section class="about-section-two pt-0">
    <div class="anim-icons">
      <img class="image-1" src="assets/images/icons/icon-home1.png" alt="">
    </div>
    <div class="auto-container">
      <div class="row">
        <!-- Content Column -->
        <div class="content-column col-lg-7 wow fadeInRight" data-wow-delay="600ms">
          <div class="inner-column">
            <div class="sec-title">
              <span class="sub-title style-three">LUXURY HOTELer</span>
              <h2>We Provide Outdoor <br />Activities To All Visitors</h2>
              <div class="text">San Francisco has hills with views, the coast, excellent food & has been voted the
                happiest, healthiest and fittest city in the States many times.</div>
            </div>
            <div class="outer-box">
              <div class="info-block">
                <div class="inner">
                  <div class="icon-box"><i class="flaticon-light"></i></div>
                  <h4 class="title">The Best <br />Lighting</h4>
                </div>
              </div>
              <div class="info-block">
                <div class="inner">
                  <div class="icon-box"><i class="flaticon-pool"></i></div>
                  <h4 class="title">The Best <br />Swiming</h4>
                </div>
              </div>
            </div>
            <ul class="list-style-two">
              <li><i class="icon fa fa-circle-check"></i>It is a long fact that a reader will be distracted by the
                readable</li>
              <li><i class="icon fa fa-circle-check"></i>Lorem Ipsum is simply dummy of the printing and industry</li>
              <li><i class="icon fa fa-circle-check"></i>There are many variations of Lorem Ipsum majority</li>
            </ul>
            <div class="btn-box">
              <a href="page-about.html" class="theme-btn btn-style-one"><span class="btn-title">Discover More</span></a>
            </div>
          </div>
        </div>
        <!-- Image Column -->
        <div class="image-column col-md-7 col-lg-5">
          <div class="inner-column wow fadeInLeft">
            <figure class="image-1 overlay-anim wow reveal-right"><img src="assets/images/resource/about2-1.jpg" alt="">
            </figure>
            <figure class="image-2 overlay-anim wow reveal-right"><img src="assets/images/resource/about2-2.jpg" alt="">
            </figure>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  <!--Emd About Section -->
  
  <!-- Room-section two -->
  <section class="room-service-section pt-120 pb-60">
    <div class="auto-container">
      <div class="sec-title text-center">
        <span class="sub-title">CUSTOMER SERVICES</span>
        <h2>Book your stay and <br />relax in luxury</h2>
      </div>
      <div class="row">
        <!-- News Block -->
        <div class="room-service-block-one col-lg-4 col-sm-6 wow fadeInUp">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image mb-0"><a href="room-details.html"><img src="assets/images/resource/room-service1-1.jpg"
                    alt=""></a></figure>
            </div>
            <div class="content-box">
              <div class="inner-box">
                <h4 class="title"><a href="room-details.html">Junior Suite</a></h4>
                <div class="price">$150/ Night</div>
              </div>
              <div class="facilities-box align-items-center d-flex justify-content-between">
                <ul class="facilities-list">
                  <li><i class="fal fa-circle-user me-2"></i> 1-2 Persons</li>
                  <li><i class="fal fa-bed me-2"></i> King Size Bed</li>
                </ul>
                <ul class="facilities-list">
                  <li><i class="fal fa-bath me-2"></i> Bathtub</li>
                  <li><i class="fal fa-wifi me-2"></i> Free Wifi</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- News Block -->
        <div class="room-service-block-one col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="300ms">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image mb-0"><a href="room-details.html"><img src="assets/images/resource/room-service1-2.jpg"
                    alt=""></a></figure>
            </div>
            <div class="content-box">
              <div class="inner-box">
                <h4 class="title"><a href="room-details.html">Family Suite</a></h4>
                <div class="price">$250/ Night</div>
              </div>
              <div class="facilities-box align-items-center d-flex justify-content-between">
                <ul class="facilities-list">
                  <li><i class="fal fa-circle-user me-2"></i> 1-2 Persons</li>
                  <li><i class="fal fa-bed me-2"></i> King Size Bed</li>
                </ul>
                <ul class="facilities-list">
                  <li><i class="fal fa-bath me-2"></i> Bathtub</li>
                  <li><i class="fal fa-wifi me-2"></i> Free Wifi</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- News Block -->
        <div class="room-service-block-one col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="600ms">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image mb-0"><a href="room-details.html"><img src="assets/images/resource/room-service1-3.jpg"
                    alt=""></a></figure>
            </div>
            <div class="content-box">
              <div class="inner-box">
                <h4 class="title"><a href="room-details.html">Business Suite</a></h4>
                <div class="price">$550/ Night</div>
              </div>
              <div class="facilities-box align-items-center d-flex justify-content-between">
                <ul class="facilities-list">
                  <li><i class="fal fa-circle-user me-2"></i> 1-2 Persons</li>
                  <li><i class="fal fa-bed me-2"></i> King Size Bed</li>
                </ul>
                <ul class="facilities-list">
                  <li><i class="fal fa-bath me-2"></i> Bathtub</li>
                  <li><i class="fal fa-wifi me-2"></i> Free Wifi</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Room section -->
  
  <!-- Testimonial Section Two -->
  <section class="testimonial-section-two pt-0">
    <div class="anim-icons">
      <img class="image-1" src="assets/images/icons/shape-5.png" alt="">
    </div>
    <div class="auto-container">
      <div class="row">
        <div class="testimonials overflow-hidden col-lg-12">
          <!-- Testimonial Slider -->
          <div class="swiper-container testimonial-slider-content">
            <div class="swiper-wrapper">
              <!-- Testimonial Block -->
              <div class="testimonial-block-two swiper-slide">
                <div class="inner-box">
                  <div class="quote-icon"><img class="icon-img" src="assets/images/icons/testi-shape1.png" alt=""></div>
                  <div class="text">Staying at Hoteler was an unforgettable experience. The staff went above and beyond
                    to ensure our comfort and satisfaction. The room was immaculate, with breath-taking views </div>
                  <div class="info-box">
                    <h5 class="name">Jenny Wilson</h5>
                    <span class="designation">Business Owner</span>
                  </div>
                </div>
              </div>
              <!-- Testimonial Block -->
              <div class="testimonial-block-two swiper-slide">
                <div class="inner-box">
                  <div class="quote-icon"><img class="icon-img" src="assets/images/icons/testi-shape1.png" alt=""></div>
                  <div class="text">Staying at Hoteler was an unforgettable experience. The staff went above and beyond
                    to ensure our comfort and satisfaction. The room was immaculate, with breath-taking views </div>
                  <div class="info-box">
                    <h5 class="name">Marvin McKinney</h5>
                    <span class="designation">President of Sales</span>
                  </div>
                </div>
              </div>
              <!-- Testimonial Block -->
              <div class="testimonial-block-two swiper-slide">
                <div class="inner-box">
                  <div class="quote-icon"><img class="icon-img" src="assets/images/icons/testi-shape1.png" alt=""></div>
                  <div class="text">Staying at Hoteler was an unforgettable experience. The staff went above and beyond
                    to ensure our comfort and satisfaction. The room was immaculate, with breath-taking views </div>
                  <div class="info-box">
                    <h5 class="name">Jenny Wilson</h5>
                    <span class="designation">Business Owner</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <!-- Testimonial Thumb -->
          <div class="swiper-container testimonial-thumbs mx-auto">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="assets/images/resource/testi2-thumb1.png" alt="" /></div>
              <div class="swiper-slide"><img src="assets/images/resource/testi2-thumb2.png" alt="" /></div>
              <div class="swiper-slide"><img src="assets/images/resource/testi2-thumb3.png" alt="" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonial Section Two -->
  
  <!-- pricing-section -->
  <section class="pricing-section">
    <div class="auto-container">
      <div class="sec-title text-center wow fadeInUp">
        <span class="sub-title">Hoteler best menus</span>
        <h2>Unique Specialty Foods</h2>
      </div>
      <div class="row gx-xl-5 wow slideInUp">
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/images/resource/pricing2-1.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Pasta With Fish<span>$39</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">starter</span>
          </div>
        </div>
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/images/resource/pricing2-2.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Noodles<span>$16</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">new</span>
          </div>
        </div>
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/images/resource/pricing2-3.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Fresh Meat<span>$26</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">new</span>
          </div>
        </div>
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/images/resource/pricing2-4.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Chicken<span>$19</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">vegan</span>
          </div>
        </div>
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/images/resource/pricing2-5.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Spaghetti<span>$37</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">new</span>
          </div>
        </div>
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/images/resource/pricing2-6.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Vegetarian Fried<span>$34</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">new</span>
          </div>
        </div>
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/images/resource/pricing2-7.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Vegetarian Soup<span>$42</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">glutan free</span>
          </div>
        </div>
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/images/resource/pricing2-8.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Salmon Pasta<span>$71</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">fish</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End pricing-section -->
  
  <!-- video-section -->
  <section class="video-section">
    <div class="bg bg-image" data-speed="0.5" data-parallax="scroll"
      style="background-image: url(images/background/video-bg.jpg);">
    </div>
    <div class="auto-container">
      <div class="row align-items-center">
        <div class="btn-column col-lg-12">
          <div class="inner-column text-center">
            <a class="play-now-two" href="https://www.youtube.com/watch?v=Fvae8nxzVz4" data-fancybox="gallery"
              data-caption="">
              <i class="icon fa-solid fa-play"></i>
              <span class="ripple"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End video section -->
  
  <!-- Team Section -->
  <section class="team-section">
    <div class="anim-icons">
      <img class="image-1" src="assets/images/icons/shape-15.png" alt="">
    </div>
    <div class="auto-container">
      <div class="sec-title text-center wow fadeInUp">
        <span class="sub-title">TEAM MEMBER</span>
        <h2>Check Out Our Expert <br />Hoteler Members</h2>
      </div>
      <div class="row">
        <!-- Team block -->
        <div class="team-block col-lg-3 col-sm-6">
          <div class="inner-box wow fadeInLeft">
            <div class="image-box">
              <div class="inner-box">
                <figure class="image overlay-anim"><a href="page-team-details.html"><img
                      src="assets/images/resource/team-1.jpg" alt=""></a></figure>
              </div>
              <div class="info-box">
                <h4 class="name"><a href="page-team-details.html">Michael Dean</a></h4>
                <span class="designation">CEO & Founder</span>
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-x-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Team block -->
        <div class="team-block col-lg-3 col-sm-6">
          <div class="inner-box wow fadeInLeft" data-wow-delay="200ms">
            <div class="image-box">
              <div class="inner-box">
                <figure class="image overlay-anim"><a href="page-team-details.html"><img
                      src="assets/images/resource/team-2.jpg" alt=""></a></figure>
              </div>
              <div class="info-box">
                <h4 class="name"><a href="page-team-details.html">Frank Burton</a></h4>
                <span class="designation">Kitchen Manager</span>
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-x-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Team block -->
        <div class="team-block col-lg-3 col-sm-6">
          <div class="inner-box wow fadeInLeft" data-wow-delay="300ms">
            <div class="image-box">
              <div class="inner-box">
                <figure class="image overlay-anim"><a href="page-team-details.html"><img
                      src="assets/images/resource/team-3.jpg" alt=""></a></figure>
              </div>
              <div class="info-box">
                <h4 class="name"><a href="page-team-details.html">Mya Mullins</a></h4>
                <span class="designation">Hotel Manager</span>
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-x-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Team block -->
        <div class="team-block col-lg-3 col-sm-6">
          <div class="inner-box wow fadeInLeft" data-wow-delay="400ms">
            <div class="image-box">
              <div class="inner-box">
                <figure class="image overlay-anim"><a href="page-team-details.html"><img
                      src="assets/images/resource/team-4.jpg" alt=""></a></figure>
              </div>
              <div class="info-box">
                <h4 class="name"><a href="page-team-details.html">Ralph Nguyen</a></h4>
                <span class="designation">Room Service</span>
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-x-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->
  
  <!-- Funfact Section -->
  <section class="funfact-section">
    <div class="bg bg-image" style="background-image: url(images/icons/bg-shape2.png);"></div>
    <div class="container">
      <div class="fact-counter">
        <div class="row">
          <!-- Counter block-->
          <div class="counter-block-one col-lg-3 col-sm-6">
            <div class="inner-box">
              <div class="count-box"><span class="count-text" data-speed="3000" data-stop="20">0</span></div>
              <div class="counter-text">Projects</div>
            </div>
          </div>
          <!-- Counter block-->
          <div class="counter-block-one col-lg-3 col-sm-6">
            <div class="inner-box">
              <div class="count-box"><span class="count-text" data-speed="3000" data-stop="10">0</span></div>
              <div class="counter-text">People</div>
            </div>
          </div>
          <!-- Counter block-->
          <div class="counter-block-one col-lg-3 col-sm-6">
            <div class="inner-box">
              <div class="count-box"><span class="count-text" data-speed="3000" data-stop="40">0</span></div>
              <div class="counter-text">Years</div>
            </div>
          </div>
          <!-- Counter block-->
          <div class="counter-block-one col-lg-3 col-sm-6">
            <div class="inner-box">
              <div class="count-box"><span class="count-text" data-speed="3000" data-stop="30">0</span></div>
              <div class="counter-text">Award Winner</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Funfact Section -->
  
  <!-- Contact Section -->
  <section class="contact-section">
    <div class="bg bg-image wow reveal-top tm-gsap-img-parallax overflow-hidden">
      <img src="assets/images/background/bg-contact5.jpg" alt="Image">
    </div>
    <div class="icon icon-contact-shape1" style="background-image: url(images/icons/shape-4.png)"></div>
    <div class="auto-container">
      <div class="outer-box">
        <div class="row">
  
          <!-- Form Column -->
          <div class="form-column col-lg-8 offset-lg-4 col-md-12 col-sm-12">
            <div class="inner-column">
              <!-- Contact Form -->
              <div class="contact-form wow fadeInLeft">
                <div class="icon-anchor-1 bounce-y"></div>
                <div class="sec-title">
                  <span class="sub-title style-three">Contact Us</span>
                  <h2>Get in Touch</h2>
                </div>
  
                <!--Contact Form-->
                <form method="post" action="https://html.kodesolution.com/2025/hoteler-html/get" id="contact-form">
                  <div class="row">
  
                    <div class="form-group col-lg-6 col-md-6">
                      <input type="text" name="name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group col-lg-6 col-md-6">
                      <input type="email" name="email" placeholder="Email Address" required>
                    </div>
                    <div class="form-group col-lg-6 col-md-6">
                      <input type="tex" name="phone" placeholder="Check In" required>
                    </div>
                    <div class="form-group col-lg-6 col-md-6">
                      <input type="text" name="subject" placeholder="Check Out" required>
                    </div>
                    <div class="form-group col-lg-12">
                      <textarea name="textarea" placeholder="Write a Message" rows="2"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                      <button type="submit" class="theme-btn btn-style-one bg-dark" name="submit-form"><span
                          class="btn-title">Check Availability</span></button>
                    </div>
                  </div>
                </form>
              </div>
              <!--End Contact Form -->
  
              <div class="contact-block">
                <div class="inner-box">
                  <figure class="image icon-contact1"><img src="assets/images/icons/icon-call-2.png" alt="Image">
                  </figure>
                  <div class="content-box">
                    <figure class="icon-img"><img src="assets/images/icons/icon-call-1.png" alt=""></figure>
                    <span class="text">Call us for any inquiry</span>
                    <a class="text-two" href="tel:+8801750050088">(801) 500 50 088</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
  
  <!-- news-section -->
  <section class="news-section">
    <div class="auto-container">
      <div class="sec-title text-center wow fadeInUp">
        <span class="sub-title">NEWS & BLOG</span>
        <h2>Check Latest Blog Post <br />from Blog List</h2>
      </div>
      <div class="row">
        <!-- News Block -->
        <div class="news-block-four col-lg-4 col-md-6 wow fadeInUp">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="news-details.html">
                  <img src="assets/images/resource/news1-1.jpg" alt="Image">
                  <img src="assets/images/resource/news1-1.jpg" alt="Image">
                </a>
              </figure>
            </div>
            <div class="content-box">
              <ul class="post-meta">
                <li class="categories"><a href="news-details.html">Relax Zone</a></li>
                <li class="date">May 15, 2025</li>
              </ul>
              <h4 class="title"><a href="news-details.html">Advantages of Offering Online Registration at Your Hotel</a>
              </h4>
            </div>
          </div>
        </div>
        <!-- News Block -->
        <div class="news-block-four col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="news-details.html">
                  <img src="assets/images/resource/news1-2.jpg" alt="Image">
                  <img src="assets/images/resource/news1-2.jpg" alt="Image">
                </a>
              </figure>
            </div>
            <div class="content-box">
              <ul class="post-meta">
                <li class="categories"><a href="news-details.html">Royal suite</a></li>
                <li class="date">Jan 28, 2025</li>
              </ul>
              <h4 class="title"><a href="news-details.html">Our Health Club is Now Available for Your Fitness Needs</a>
              </h4>
            </div>
          </div>
        </div>
        <!-- News Block -->
        <div class="news-block-four col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="600ms">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="news-details.html">
                  <img src="assets/images/resource/news1-3.jpg" alt="Image">
                  <img src="assets/images/resource/news1-3.jpg" alt="Image">
                </a>
              </figure>
            </div>
            <div class="content-box">
              <ul class="post-meta">
                <li class="categories"><a href="news-details.html">Apartments</a></li>
                <li class="date">Oct 20, 2025</li>
              </ul>
              <h4 class="title"><a href="news-details.html">Restoring the Lighting Design in the Hotel</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End news section -->
  
    <app-footer></app-footer>
  
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>
  
  </div><!-- End Page Wrapper -->