<section class="page-title" style="background-image: url(assets/customer/images/banner/banner1-1.jpg);">
    <div class="auto-container">
      <div class="title-outer text-center">
        <i class="fa-sharp fa-solid fa-star-sharp"></i>
        <i class="fa-sharp fa-solid fa-star-sharp"></i>
        <i class="fa-sharp fa-solid fa-star-sharp"></i>
        <i class="fa-sharp fa-solid fa-star-sharp"></i>
        <i class="fa-sharp fa-solid fa-star-sharp"></i>
        <h1 class="title">Đặt phòng khách sạn mơ ước của bạn</h1>
      </div>
    </div>
  </section>
  <!-- end main-content -->
  
  <!-- Form Section -->
  <div class="checkout-form-section-two">
    <div class="container">
      <form (ngSubmit)="searchRooms()" #searchForm="ngForm">
        <div class="checkout-form">
          <div class="checkout-field">
            <h4>Ngày Vào</h4>
            <div class="chk-field">
              <input class="date-pick" type="date" [(ngModel)]="searchParams.checkIn" name="checkIn" required 
                     (change)="onDateChange('checkIn', $event)"/>
              <i class="fas fa-calendar"></i>
            </div>
          </div>
          <div class="checkout-field">
            <h4>Ngày Ra</h4>
            <div class="chk-field">
              <input class="date-pick" type="date" [(ngModel)]="searchParams.checkOut" name="checkOut" required
                     (change)="onDateChange('checkOut', $event)"/>
              <i class="fas fa-calendar"></i>
            </div>
          </div>
          <div class="checkout-field select-field br-0">
            <h4>Loại Phòng</h4>
            <div class="chk-field">
              <select [(ngModel)]="searchParams.roomType" name="roomType">
                <option value="">Tất cả</option>
                <option value="Phòng Đơn">Phòng Đơn</option>
                <option value="Phòng Đôi">Phòng Đôi</option>
                <option value="Phòng VIP">Phòng VIP</option>
              </select>
              <i class="fas fa-angle-down"></i>
            </div>
          </div>
          <button type="submit" class="theme-btn btn-style-one">
            <span class="btn-title">TÌM KIẾM</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- End Form Section -->
  
  <!-- Service Section three -->
  <section class="service-section-three">
    <div class="auto-container">
      <div class="sec-title text-center">
        <span class="sub-title">What we offer</span>
        <h2>Get Our Special Offer.</h2>
      </div>
      <div class="outer-box">
        <div class="row">
          <!-- service-block -->
          <div class="service-block-three col-lg-4 col-md-6 wow fadeInUp">
            <div class="inner-box">
              <figure class="image"><img src="assets/customer/images/resource/service1-1.jpg" alt=""></figure>
              <div class="content-box">
                <h6 class="title"><a [routerLink]="['/customer/rooms']" [queryParams]="{type: 'Phòng VIP'}">Family Discount</a></h6>
              </div>
            </div>
          </div>
          <!-- service-block -->
          <div class="service-block-three col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
            <div class="inner-box">
              <figure class="image"><img src="assets/customer/images/resource/service1-2.jpg" alt=""></figure>
              <div class="content-box">
                <h6 class="title"><a [routerLink]="['/customer/rooms']" [queryParams]="{type: 'Phòng Đôi'}">Couples offer</a></h6>
              </div>
            </div>
          </div>
          <!-- service-block -->
          <div class="service-block-three col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms">
            <div class="inner-box">
              <figure class="image"><img src="assets/customer/images/resource/service1-3.jpg" alt=""></figure>
              <div class="content-box">
                <h6 class="title"><a [routerLink]="['/customer/rooms']" [queryParams]="{type: 'Phòng Đơn'}">Buy One Get One Free</a></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service section -->
  
  <!-- About Section -->
  <section class="about-section-two pt-0" *ngIf="hotel">
    <div class="anim-icons">
      <img class="image-1" src="assets/customer/images/icons/icon-home1.png" alt="">
    </div>
    <div class="auto-container">
      <div class="row">
        <!-- Content Column -->
        <div class="content-column col-lg-7 wow fadeInRight" data-wow-delay="600ms">
          <div class="inner-column">
            <div class="sec-title">
              <span class="sub-title style-three">{{hotel.name }}</span>
              <h2>Chúng tôi cung cấp <br />các hoạt động ngoài trời cho tất cả du khách</h2>
              <div class="text">Trải nghiệm Hà Nội – thủ đô nghìn năm văn hiến với những con phố cổ kính, hồ Hoàn Kiếm thơ mộng và nét ẩm thực độc đáo. Thưởng thức phở bò, bún chả trong tiết trời se lạnh và tìm cho mình một khách sạn hay homestay ấm cúng tại trung tâm Hà Nội với view phố phường sôi động và nhịp sống thủ đô.</div>
            </div>
            <div class="outer-box">
              <div class="info-block">
                <div class="inner">
                  <div class="icon-box"><i class="flaticon-light"></i></div>
                  <h4 class="title">Ánh sáng <br />tốt nhất</h4>
                </div>
              </div>
              <div class="info-block">
                <div class="inner">
                  <div class="icon-box"><i class="flaticon-pool"></i></div>
                  <h4 class="title">Bơi lội <br />tốt nhất</h4>
                </div>
              </div>
            </div>
            <ul class="list-style-two">
              <li><i class="icon fa fa-circle-check"></i>{{ hotel.moTa}}</li>
              </ul>
            <div class="btn-box">
              <a [routerLink]="['/customer/rooms']" class="theme-btn btn-style-one"><span class="btn-title">Khám phá thêm</span></a>
            </div>
          </div>
        </div>
        <!-- Image Column -->
        <div class="image-column col-md-7 col-lg-5">
          <div class="inner-column wow fadeInLeft">
            <figure class="image-1 overlay-anim wow reveal-right"><img src="assets/customer/images/resource/about2-1.jpg" alt="">
            </figure>
            <figure class="image-2 overlay-anim wow reveal-right"><img src="assets/customer/images/resource/about2-2.jpg" alt="">
            </figure>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  <!--Emd About Section -->

  <!-- Room-section two -->
<section class="room-service-section pt-120 pb-60">
  <div class="auto-container">
    <div class="sec-title text-center">
      <span class="sub-title">Loại phòng</span>
      <h2>Đặt phòng và <br />thư giãn trong sự sang trọng</h2>
    </div>
    <div class="row">
      <!-- Hiển thị danh sách phòng -->
      <div
        *ngFor="let room of roomTypes"
        class="room-service-block-one col-lg-4 col-sm-6 wow fadeInUp"
      >
        <div class="inner-box">
          <div class="image-box">
            <figure class="image mb-0">
              <a [routerLink]="['/customer/room-details', room.id]" [queryParams]="{checkIn: searchParams.checkIn, checkOut: searchParams.checkOut}">
                <img [src]="'assets/customer/images/resource/room-service1-1.jpg'" alt="Room Image" />
              </a>
            </figure>
          </div>
          <div class="content-box">
            <div class="inner-box">
              <h4 class="title">
                <a [routerLink]="['/customer/room-details', room.id]" [queryParams]="{checkIn: searchParams.checkIn, checkOut: searchParams.checkOut}">{{ room.loaiPhong }} {{ room.tenPhong }}</a>
              </h4>
              <div class="price">{{ room.gia | currency:'VND' }}/ Night</div>
            </div>
            <div class="facilities-box align-items-center d-flex justify-content-between">
              <ul class="facilities-list">
                <li><i class="fal fa-circle-user me-2"></i> {{ room.tinhTrang }}</li>
                <li><i class="fal fa-bed me-2"></i> {{ room.loaiPhong }}</li>
              </ul>
              <ul class="facilities-list">
                <li *ngFor="let facility of room.tienNghiDiKem.split(',')">
                  <i [ngClass]="getFacilityIcon(facility.trim())" class="me-2"></i>
                  {{ facility.trim() }}
                </li>
              </ul>              
            </div>
          </div>
        </div>
      </div>
      <!-- Hiển thị thông báo nếu không có phòng -->
      <div *ngIf="roomTypes.length === 0" class="text-center col-12">
        <p>No rooms available at the moment.</p>
      </div>
    </div>
  </div>
</section>
<!-- End Room section -->
  
  <!-- Testimonial Section Two -->
  <section class="testimonial-section-two pt-0">
    <div class="anim-icons">
      <img class="image-1" src="assets/customer/images/icons/shape-5.png" alt="">
    </div>
    <div class="auto-container">
      <div class="row">
        <div class="testimonials overflow-hidden col-lg-12">
          <!-- Testimonial Slider -->
          <div class="swiper-container testimonial-slider-content">
            <div class="swiper-wrapper">
              <!-- Testimonial Block -->
              <div class="testimonial-block-two swiper-slide">
                <div class="inner-box">
                  <div class="quote-icon"><img class="icon-img" src="assets/customer/images/icons/testi-shape1.png" alt=""></div>
                  <div class="text">Nghỉ tại Hoteler là một trải nghiệm khó quên. Đội ngũ nhân viên đã nỗ lực hết mình
                    để đảm bảo sự thoải mái và hài lòng của chúng tôi. Phòng sạch sẽ, với tầm nhìn ngoạn mục </div>
                  <div class="info-box">
                    <h5 class="name">Jenny Wilson</h5>
                    <span class="designation">Chủ doanh nghiệp</span>
                  </div>
                </div>
              </div>
              <!-- Testimonial Block -->
              <div class="testimonial-block-two swiper-slide">
                <div class="inner-box">
                  <div class="quote-icon"><img class="icon-img" src="assets/customer/images/icons/testi-shape1.png" alt=""></div>
                  <div class="text">Nghỉ tại Hoteler là một trải nghiệm khó quên. Đội ngũ nhân viên đã nỗ lực hết mình
                    để đảm bảo sự thoải mái và hài lòng của chúng tôi. Phòng sạch sẽ, với tầm nhìn ngoạn mục </div>
                  <div class="info-box">
                    <h5 class="name">Marvin McKinney</h5>
                    <span class="designation">Chủ tịch bán hàng</span>
                  </div>
                </div>
              </div>
              <!-- Testimonial Block -->
              <div class="testimonial-block-two swiper-slide">
                <div class="inner-box">
                  <div class="quote-icon"><img class="icon-img" src="assets/customer/images/icons/testi-shape1.png" alt=""></div>
                  <div class="text">Nghỉ tại Hoteler là một trải nghiệm khó quên. Đội ngũ nhân viên đã nỗ lực hết mình
                    để đảm bảo sự thoải mái và hài lòng của chúng tôi. Phòng sạch sẽ, với tầm nhìn ngoạn mục </div>
                  <div class="info-box">
                    <h5 class="name">Jenny Wilson</h5>
                    <span class="designation">Chủ doanh nghiệp</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <!-- Testimonial Thumb -->
          <div class="swiper-container testimonial-thumbs mx-auto">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="assets/customer/images/resource/testi2-thumb1.png" alt="" /></div>
              <div class="swiper-slide"><img src="assets/customer/images/resource/testi2-thumb2.png" alt="" /></div>
              <div class="swiper-slide"><img src="assets/customer/images/resource/testi2-thumb3.png" alt="" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonial Section Two -->
  
  <!-- pricing-section -->
  <section class="pricing-section">
    <div class="auto-container">
      <div class="sec-title text-center wow fadeInUp">
        <span class="sub-title">Hoteler best menus</span>
        <h2>Unique Specialty Foods</h2>
      </div>
      <div class="row gx-xl-5 wow slideInUp">
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/customer/images/resource/pricing2-1.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Pasta With Fish<span>$39</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">starter</span>
          </div>
        </div>
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/customer/images/resource/pricing2-2.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Noodles<span>$16</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">new</span>
          </div>
        </div>
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/customer/images/resource/pricing2-3.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Fresh Meat<span>$26</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">new</span>
          </div>
        </div>
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/customer/images/resource/pricing2-4.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Chicken<span>$19</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">vegan</span>
          </div>
        </div>
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/customer/images/resource/pricing2-5.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Spaghetti<span>$37</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">new</span>
          </div>
        </div>
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/customer/images/resource/pricing2-6.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Vegetarian Fried<span>$34</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">new</span>
          </div>
        </div>
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/customer/images/resource/pricing2-7.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Vegetarian Soup<span>$42</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">glutan free</span>
          </div>
        </div>
        <!-- pricing-block -->
        <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <figure class="thumb overlay-anim"><a href="page-pricing.html"><img
                  src="assets/customer/images/resource/pricing2-8.png" alt=""></a></figure>
            <div class="content-box">
              <h6 class="title">Salmon Pasta<span>$71</span></h6>
              <span class="designation">Lorem Ipsum is that it smt</span>
            </div>
            <span class="food-pack">fish</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End pricing-section -->
  
  <!-- video-section -->
  <section class="video-section">
    <div class="bg bg-image" data-speed="0.5" data-parallax="scroll"
      style="background-image: url(assets/customer/images/background/video-bg.jpg);">
    </div>
    <div class="auto-container">
      <div class="row align-items-center">
        <div class="btn-column col-lg-12">
          <div class="inner-column text-center">
            <a class="play-now-two" href="https://www.youtube.com/watch?v=Fvae8nxzVz4" data-fancybox="gallery"
              data-caption="">
              <i class="icon fa-solid fa-play"></i>
              <span class="ripple"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End video section -->
  
  <!-- Team Section -->
  <section class="team-section">
    <div class="anim-icons">
      <img class="image-1" src="assets/customer/images/icons/shape-15.png" alt="">
    </div>
    <div class="auto-container">
      <div class="sec-title text-center wow fadeInUp">
        <span class="sub-title">THÀNH VIÊN NHÓM</span>
        <h2>Kiểm tra <br />các thành viên chuyên gia khách sạn của chúng tôi</h2>
      </div>
      <div class="row">
        <!-- Team block -->
        <div class="team-block col-lg-3 col-sm-6">
          <div class="inner-box wow fadeInLeft">
            <div class="image-box">
              <div class="inner-box">
                <figure class="image overlay-anim"><a href="page-team-details.html"><img
                      src="assets/customer/images/resource/team-1.jpg" alt=""></a></figure>
              </div>
              <div class="info-box">
                <h4 class="name"><a href="page-team-details.html">Michael Dean</a></h4>
                <span class="designation">CEO & Founder</span>
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-x-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Team block -->
        <div class="team-block col-lg-3 col-sm-6">
          <div class="inner-box wow fadeInLeft" data-wow-delay="200ms">
            <div class="image-box">
              <div class="inner-box">
                <figure class="image overlay-anim"><a href="page-team-details.html"><img
                      src="assets/customer/images/resource/team-2.jpg" alt=""></a></figure>
              </div>
              <div class="info-box">
                <h4 class="name"><a href="page-team-details.html">Frank Burton</a></h4>
                <span class="designation">Kitchen Manager</span>
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-x-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Team block -->
        <div class="team-block col-lg-3 col-sm-6">
          <div class="inner-box wow fadeInLeft" data-wow-delay="300ms">
            <div class="image-box">
              <div class="inner-box">
                <figure class="image overlay-anim"><a href="page-team-details.html"><img
                      src="assets/customer/images/resource/team-3.jpg" alt=""></a></figure>
              </div>
              <div class="info-box">
                <h4 class="name"><a href="page-team-details.html">Mya Mullins</a></h4>
                <span class="designation">Hotel Manager</span>
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-x-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Team block -->
        <div class="team-block col-lg-3 col-sm-6">
          <div class="inner-box wow fadeInLeft" data-wow-delay="400ms">
            <div class="image-box">
              <div class="inner-box">
                <figure class="image overlay-anim"><a href="page-team-details.html"><img
                      src="assets/customer/images/resource/team-4.jpg" alt=""></a></figure>
              </div>
              <div class="info-box">
                <h4 class="name"><a href="page-team-details.html">Ralph Nguyen</a></h4>
                <span class="designation">Room Service</span>
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-x-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->
  
  <!-- Funfact Section -->
  <section class="funfact-section">
    <div class="bg bg-image" style="background-image: url(assets/customer/images/icons/bg-shape2.png);"></div>
    <div class="container">
      <div class="fact-counter">
        <div class="row">
          <!-- Counter block-->
          <div class="counter-block-one col-lg-3 col-sm-6">
            <div class="inner-box">
              <div class="count-box"><span class="count-text" data-speed="3000" data-stop="20">0</span></div>
              <div class="counter-text">Projects</div>
            </div>
          </div>
          <!-- Counter block-->
          <div class="counter-block-one col-lg-3 col-sm-6">
            <div class="inner-box">
              <div class="count-box"><span class="count-text" data-speed="3000" data-stop="10">0</span></div>
              <div class="counter-text">People</div>
            </div>
          </div>
          <!-- Counter block-->
          <div class="counter-block-one col-lg-3 col-sm-6">
            <div class="inner-box">
              <div class="count-box"><span class="count-text" data-speed="3000" data-stop="40">0</span></div>
              <div class="counter-text">Years</div>
            </div>
          </div>
          <!-- Counter block-->
          <div class="counter-block-one col-lg-3 col-sm-6">
            <div class="inner-box">
              <div class="count-box"><span class="count-text" data-speed="3000" data-stop="30">0</span></div>
              <div class="counter-text">Award Winner</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Funfact Section -->
  
  <!-- Contact Section -->
  <section class="contact-section">
    <div class="bg bg-image wow reveal-top tm-gsap-img-parallax overflow-hidden">
      <img src="assets/customer/images/background/bg-contact5.jpg" alt="Image">
    </div>
    <div class="icon icon-contact-shape1" style="background-image: url(assets/customer/images/icons/shape-4.png)"></div>
    <div class="auto-container">
      <div class="outer-box">
        <div class="row">
  
          <!-- Form Column -->
          <div class="form-column col-lg-8 offset-lg-4 col-md-12 col-sm-12">
            <div class="inner-column">
              <!-- Contact Form -->
              <div class="contact-form wow fadeInLeft">
                <div class="icon-anchor-1 bounce-y"></div>
                <div class="sec-title">
                  <span class="sub-title style-three">Liên hệ với chúng tôi</span>
                  <h2>Liên hệ</h2>
                </div>
  
                <!--Contact Form-->
                <form method="post" action="https://html.kodesolution.com/2025/hoteler-html/get" id="contact-form">
                  <div class="row">
  
                    <div class="form-group col-lg-6 col-md-6">
                      <input type="text" name="name" placeholder="Tên của bạn" required>
                    </div>
                    <div class="form-group col-lg-6 col-md-6">
                      <input type="email" name="email" placeholder="Địa chỉ Email" required>
                    </div>
                    <div class="form-group col-lg-6 col-md-6">
                      <input type="tex" name="phone" placeholder="Ngày vào" required>
                    </div>
                    <div class="form-group col-lg-6 col-md-6">
                      <input type="text" name="subject" placeholder="Ngày ra" required>
                    </div>
                    <div class="form-group col-lg-12">
                      <textarea name="textarea" placeholder="Nội dung" rows="2"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                      <button type="submit" class="theme-btn btn-style-one bg-dark" name="submit-form"><span
                          class="btn-title">Gửi</span></button>
                    </div>
                  </div>
                </form>
              </div>
              <!--End Contact Form -->
  
              <div class="contact-block" *ngIf="hotel">
                <div class="inner-box">
                  <figure class="image icon-contact1"><img src="assets/customer/images/icons/icon-call-2.png" alt="Image">
                  </figure>
                  <div class="content-box">
                    <figure class="icon-img"><img src="assets/customer/images/icons/icon-call-1.png" alt=""></figure>
                    <span class="text">Hãy gọi cho chúng tôi để được giải đáp bất kỳ thắc mắc nào</span>
                    <a class="text-two">{{hotel.sdt}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
  
  <!-- news-section -->
  <section class="news-section">
    <div class="auto-container">
      <div class="sec-title text-center wow fadeInUp">
        <span class="sub-title">NEWS & BLOG</span>
        <h2>Check Latest Blog Post <br />from Blog List</h2>
      </div>
      <div class="row">
        <!-- News Block -->
        <div class="news-block-four col-lg-4 col-md-6 wow fadeInUp">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="news-details.html">
                  <img src="assets/customer/images/resource/news1-1.jpg" alt="Image">
                  <img src="assets/customer/images/resource/news1-1.jpg" alt="Image">
                </a>
              </figure>
            </div>
            <div class="content-box">
              <ul class="post-meta">
                <li class="categories"><a href="news-details.html">Relax Zone</a></li>
                <li class="date">May 15, 2025</li>
              </ul>
              <h4 class="title"><a href="news-details.html">Advantages of Offering Online Registration at Your Hotel</a>
              </h4>
            </div>
          </div>
        </div>
        <!-- News Block -->
        <div class="news-block-four col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="news-details.html">
                  <img src="assets/customer/images/resource/news1-2.jpg" alt="Image">
                  <img src="assets/customer/images/resource/news1-2.jpg" alt="Image">
                </a>
              </figure>
            </div>
            <div class="content-box">
              <ul class="post-meta">
                <li class="categories"><a href="news-details.html">Royal suite</a></li>
                <li class="date">Jan 28, 2025</li>
              </ul>
              <h4 class="title"><a href="news-details.html">Our Health Club is Now Available for Your Fitness Needs</a>
              </h4>
            </div>
          </div>
        </div>
        <!-- News Block -->
        <div class="news-block-four col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="600ms">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="news-details.html">
                  <img src="assets/customer/images/resource/news1-3.jpg" alt="Image">
                  <img src="assets/customer/images/resource/news1-3.jpg" alt="Image">
                </a>
              </figure>
            </div>
            <div class="content-box">
              <ul class="post-meta">
                <li class="categories"><a href="news-details.html">Apartments</a></li>
                <li class="date">Oct 20, 2025</li>
              </ul>
              <h4 class="title"><a href="news-details.html">Restoring the Lighting Design in the Hotel</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End news section -->